

*{
	margin: 0;
	padding: 0;
	
}
body{
font-family: Roboto, Arial, sans-serif;
}


.t2{
position: absolute;
text-align: center;
font-size: 25px;
margin-top: 75px;
font-weight: 700;
background-color: #2AA5A0;
  background-image: linear-gradient(330deg, #13f0d6, #1394f0, #8328fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;





}



.intro{

display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("1.jpeg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
z-index: 0;
width: 100vw;
height: 100vh;
overflow: hidden;
position: fixed;
top: 0;left: 0;

}


.b1{
position: absolute;
top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.b2{
position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.b3{
position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);

}


.inst{


 text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #8328fa inset, 0 0 0 0 #8328fa;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.inst:hover {
  box-shadow: 0 0 10px 0 #8328fa inset, 0 0 10px 4px #F137A6;
  color: #8328fa;
}
.yt {
   text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  



}    
.yt:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;







}
.git{

  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #2894fa inset, 0 0 0 0 #2894fa;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.git:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #2894fa;
  color: #2894fa;
}


.allbutton{
margin-left: 150px;
.margin-top: 1000px;
}



@media only screen adn (max-width: 480px){


.b1{
position: absolute;
top: 80%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.b2{
position: absolute;
 top: 70%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.b3{
position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);
}

}







/*font-family: Arial, Helvetica, sans-serif;